body{
    background-image: url(../body_mask.png);
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: #E0EDF4;
    border-left: 5px solid #3EB3F6;
    margin-bottom: 2px;
    color: #3E5252;
  }

  p {
    text-align:center;
    padding: 30px 0;
    color: gray;
  }

  .holder {
    box-shadow: 0px 0px 40px lightgray;
    background: #fff;
  }
  input {
    width: calc(100%);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #687F7F;
  }

  select{
    width: calc(30%);
    border: 0;
    padding: 10px;
    font-size: 1em;
    background-color: #323333;
    color: #687F7F;
  }

  .price{
    width: calc(38%);
    border: 0;
    padding: 10px;
    font-size: 1em;
    background-color: #323333;
    color: #687F7F;
  }